#Configuration info
[ProjectInfo]
    Project = 21690

[FeatureCommon]
    ExifComment = oplus_
    SwitchSodTrack = false
    OplusVideoForceOffAsync = true
    #              [camId][Pkg]           Flip      Orientation
    OrientationInfo[1][air.byss.mobi.instaplacefree] = 1;        270;
    OplusSetNeonParamFlag = 1;
    ForceDisbaleFADFront = true
    DualCamCaliDataLengthTotalFlag = true
    #for pdaf AFAssistThd
    ForceDisableFaceDetect = true
    ForceDisableThresholdRawMsnr = true
    CameraMuteSkipFrameNum = 3

[SkipFrameMode]
    #         operationMode    openId
    Mode[0] =        0x800b;       0;
    Mode[1] =        0x8028;       0;
    Mode[2] =        0x80A4;       0;
    Mode[3] =        0x802b;       1;

[PerformanceCommon]
    NeedSkipFd = 0x8001; 0x8009; 0x8011; 0x8026;0x800B # 0xF0FF(CapModeMask) To Force Enable
    OsenseSkipByCallerPackageNames = com.google.android.youtube
    SlowMotionForceDisableFd = true
    NeedSkipRemosaicPreload = false

[TuningCommon]
    SwitchAfRegion = false
    SwitchCipAwb = false

[OemCommonCapbility]
   needReduceCaptureBuffer = true

[OemCaptureBufferNumConfig]
   needReduceCaptureBufferNum = true

[FeatureOplusSuperEis]
    Switch = false
    Qcount = 30

[FeatureAiVideoEnhance]
    SwitchOplusVhdr = true

[FeatureHfpsSupport]
    SwitchOplusHfps = true

[FeatureVideoNight]
    Switch = false

[FeatureStereoCalibrateDACSupport]
    Switch = true

[TuningAeSceneMode]
    Switch3rd  =  true
    #           CapMode    SceneMode
    Mode[0] =   0x8009;     PARTY
    Mode[1] =   0x8007;     SPORTS
    Mode[2] =   0x80A3;     SPORTS
    Mode[3] =   0x80A4;     SPORTS
    Mode[4] =   0x802C;     SPORTS
    Mode[5] =   0x80A5;     SUNSET
    Mode[6] =   0x0;        THEATRE

[TuningUseCustomHDR10] #notsure
    #           CapMode
    Mode[0] =   0x80A7  #StreamConfigCapModeVideoNight

[TuningSupernightMode] # Don't use flash_ae_params, use default flash_ae_params 160000; 140000; 120000; 110000; 80000; 80000; 32; 32; 32; 25; 20; 10;
    #           sensorId    handheld_ae_params[12]                                                          face_ae_params[12]                                                              flash_ae_params[12]                                                            tripod_ae_params[2]
    Mode[0]  =  0x38E7;     100000; 100000; 100000; 100000; 100000; 80000; 500; 500; 500; 500; 500; 500;    100000; 100000; 100000; 100000; 100000; 80000; 500; 500; 500; 500; 500; 500;    100000; 100000; 100000; 100000; 100000; 80000; 500; 500; 500; 500; 500; 500;   5000000; 16 # S5KJN1_SENSOR_ID
    Mode[1]  =  0x1634;     200000; 170000; 170000; 130000; 100000; 80000; 500; 500; 500; 500; 500; 500;    200000; 170000; 170000; 130000; 100000; 80000; 500; 500; 500; 500; 500; 500;    200000; 170000; 170000; 130000; 100000; 80000; 500; 500; 500; 500; 500; 500;   5000000; 16 # HI1634Q_SENSOR_ID

[FeatureNightModeAssitManualRatio] # assit manual_ratio by cameraid
    manualAEForNonTriop = 0;1;2

[FpsGoGroupSetting]
    #                  index
    Mode[0] =  0;  0x02020000;   1;        0x02040100;  5;        -1;           -1;   -1;  -1; -1;  -1; -1; -1   # 1,5
    Mode[2] =  2;  0x00404100;   1176000;  0x03008200;  98;       -1;           -1;   -1;  -1; -1;  -1; -1; -1   # 1,3
    Mode[3] =  3;  0x00404000;   1287000;  0x00404100;  1048000;  0x03008200;   83;   -1;  -1; -1;  -1; -1; -1   # 1,10
    Mode[4]=   4;  0x00414000;   1;        -1;          -1;       -1;           -1;   -1;  -1; -1;  -1; -1; -1   # PERF_MODE

[FpsGoEnterCameraSetting]
    #                                     FpsGoGroup
    default[0]                         =     4

[FpsGoCustomFpsSetting]
    #Mode            remove_mode   fps      systemcamera   ceiling    loadAdjCnt
    Mode[0]      =     0x8028;     30;          1;            1;            5

[FpsGoNeonVideoSetting]
    #Mode            makeupState   ceiling    loadAdjCnt   FpsGoGroup
    Mode[0]      =       1;          1;        6;          -1
    Mode[1]      =       3;          1;        6;          -1

[FpsGoSysCameraSetting]
    #operation mode       operation_mode    fps    ceiling    loadAdjCnt  FpsGoGroup  openId
    Mode[0]         =     0x8028;           -1;       1;         5;        -1;         -1   #StreamConfigCapModeVideoSuperEis
    Mode[1]         =     0x8001;           -1;       1;         5;        -1;         -1   #StreamConfigCapModeCommon

[PerformanceFpsGoDecoupleSwitch]
    EnableFpsGoDecoupleSwitch = true

[FpsGoSpecialAppSetting]
    #                                       ceiling   loadAdjCnt  FpsGoGroup camera id    width    height
    com.snapchat.android[0]            =      1;         10;         -1;        -1;        -1;      -1
    com.android.incallui[0]            =      1;         10;         -1;        -1;        -1;      -1
    com.zhiliaoapp.musically[0]        =      1;         10;         -1;        -1;        -1;      -1
    com.facebook.katana[0]             =      1;         10;         -1;        -1;        -1;      -1
    com.whatsapp[0]                    =      1;         10;         -1;        -1;        -1;      -1
    com.instagram.android[0]           =      1;         10;         -1;        -1;        -1;      -1
    com.google.android.youtube[0]      =      1;         10;         -1;        -1;        -1;      -1
    com.eg.android.AlipayGphone[0]     =      1;         10;         -1;        -1;        1280;    -1
    com.smile.gifmaker[0]              =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.mobileqq[0]            =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.ig[0]                  =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.mm[0]                  =      1;         10;         -1;        -1;        1280;    -1
    com.kwai.video[0]                  =      1;         10;         -1;        -1;        1280;    -1

[SuperNightCaptureNoPreview]
    #operation mode     operation_mode     SENSOR_ID
    Mode[0]         =     0x8019;            0x563241

[FeatureVideoFDPeriodConfig]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               1000   #default value

[FeatureVsdofFDPeriodConfig]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               33   #default value

[FeatureConfigPeriod]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               66   #default value

[AppMapFastLaunchRequestNum]
    client.pid              = 4
    android                 = 4
    com.whatsapp            = 4
    com.tencent.mm          = 4

[OperationModeMapFastLaunchRequestNum]
    #operation mode       operation_mode    RequestNum
    Mode[0]         =     0x8009;           0               #StreamConfigCapModeProfessional

[ChangeFpsRangeByName] # todo : StreamConfigCapModeSinglePortrait
    # key  CallerPackageName or ActivityName    openId       fpsMin       fpsMax
    com.whatsapp.voipcalling.VoipActivityV2  =  1;           5;          24
    com.imo.android.imoim                    =  -1;           5;          24
    com.zipow.videobox.ConfActivityNormal    =  -1;           5;          15
    com.google.android.apps.tachyon.call.oneonone.ui.OneOnOneCallActivity  =   -1;   5;   24

[OsenseOperationModeMap]
    #[openid][operationmode] osense action
    #!!!Attention: operationmode must use lowercase and forbid end-line comments!!!
    Mode[-1][0x8001]    =    OSENSE_ACTION_CAMERA_FPSGO_OFF_TEMP_6889

[OsenseActivityNameConfigMap]
    # key  pkgName                                                        osense action <=1280                 osense action >1280
    com.tencent.mm.plugin.voip.ui.VideoActivity                       =  OSENSE_ACTION_3RD_CAM_VIDEO_CALL;     ;
    com.whatsapp.voipcalling.VoipActivityV2                           =  OSENSE_ACTION_3RD_CAM_VIDEO_CALL;     ;
    com.snap.mushroom.MainActivity                                    =  OSENSE_ACTION_3RD_CAM_VIDEO_CALL;     ;
    com.facebook.katana                                               =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER
    com.microblink.photomath                                          =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER
    com.google.android.libraries.youtube.edit.gallery.GalleryActivity =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER
    com.snap.mushroom.MainActivity                                    =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER
    com.picsart.studio                                                =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER
    nic.goi.aarogyasetu                                               =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER
    com.microblink.photomath                                          =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER
    com.picsart.studio                                                =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER
    nic.goi.aarogyasetu                                               =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsenseCallerPackageNameNameConfigMap]
    # key  pkgName                                      osense action <=1280                osense action >1280
    com.google.android.youtube                       =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsensePackageNameConfigMap]
    # key  pkgName                      osense action <=1280                orms action >1280
    com.ss.android.ugc.aweme    =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.snapchat.android        =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.android.incallui        =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.zhiliaoapp.musically    =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.facebook.katana         =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.whatsapp                =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.instagram.android       =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.google.android.youtube  =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.smile.gifmaker          =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mm              =  OSENSE_ACTION_3RD_CAM_VIDEO_MAXPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_MAXPERF
    com.tencent.ig              =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mobileqq        =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.kwai.video              =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    jp.naver.line.android       =  OSENSE_ACTION_3RD_CAM_VIDEO_MAXPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_MAXPERF

[EepromDataStyle]
    RStyle = false
    defaultModule = false

[ModuleShowInfoMap]
    #                    sensorID        sensorName     sensorVersion
    sensorIdx[0]  =      0xF8D1;         GM1ST;         0.91
    sensorIdx[1]  =      0x20000;        IMX471;        0.91
    sensorIdx[2]  =      0x0846;         HI846;         0.91
    sensorIdx[3]  =      0x002B;         OV02B10;       0.91
    sensorIdx[4]  =      0x02e0;         GC02M1B;       0.91

[SystemCamSensorSettingMap] #notsure
    # key      CapMode    thirdAppCall      camId       yuvSizeW     imgSizeW      video       imageRation      scenarioId
    Mode[0]   = 0x8021;         -1;          -1;           -1;           -1;         -1;             -1;               6    # CapMode60FpsVideo
    Mode[1]   = 0x8028;         -1;           0;           -1;           -1;         -1;             -1;               2    # CapModeVideoSuperEis
    Mode[2]   = 0x80A7;         -1;           1;           -1;           -1;         -1;             -1;               2    # CapModeVideoNight
    Mode[3]   = 0x800B;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeCommonVideo
    Mode[4]   = 0x800C;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeFastVideo
    Mode[5]   = 0x8012;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeVideoPortait
    Mode[6]   = 0x80A3;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeFilmVideo
    Mode[7]   = 0x80A4;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeFilmVideoEis
    Mode[8]   = 0x802C;         -1;           1;           -1;           -1;         -1;             -1;               2    # CapModePIPScene
    Mode[9]   = 0x802C;         -1;           0;           -1;           -1;         -1;             -1;               2    # CapModePIPScene
    Mode[10]  = -1;             -1;          -1;           -1;         3840;         -1;             -1;               4    # others
    Mode[11]  = -1;             -1;          -1;           -1;           -1;          1;             -1;               2    # others

[ThirdCamSensorSettingMap]
    # key     pkgName                                        camId       video     thirdOpMode  imageRation     yuvSizeW         yuvSize   imgSize    scenarioId
    com.whatsapp[0]                             =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.tencent.mobileqq[0]                     =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.android.cts.verifier[0]                 =             0;          -1;          -1;          570;            -1;            -1;             -1;            1    #
    com.android.cts.verifier[1]                 =             1;          -1;          -1;           -1;            -1;          1280;             -1;            0    #
    com.android.cts.verifier[2]                 =             1;          -1;          -1;          570;            -1;            -1;             -1;            0    #
    android.camera.cts[0]                       =             0;          -1;          -1;           -1;            -1;            -1;             -1;            1    #
    android.camera.cts[1]                       =             1;          -1;          -1;           -1;            -1;          1280;             -1;            0    #
    android.camera.cts[2]                       =             1;          -1;          -1;          570;            -1;            -1;             -1;            0    #
    autotest.oppo.com.simulatedlivebroadcast[0] =             0;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    ru.yandex.searchplugin[0]                   =             0;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.smile.gifmaker[0]                       =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.tencent.mm[0]                           =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.gorgeous.lite[0]                        =             0;          -1;          -1;           -1;            -1;          1280;             -1;            0    #
    com.ss.android.ugc.aweme[0]                 =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.mt.mtxx.mtxx[0]                         =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.meitu.meiyancamera[0]                   =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.alibaba.android.rimet[0]                =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.facebook.katana[0]                      =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.facebook.orca[0]                        =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.instagram.android[0]                    =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.snapchat.android[0]                     =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    jp.naver.line.android[0]                    =            -1;          -1;          -1;           -1;            -1;          1280;             -1;            0    #
    com.google.android.youtube[0]               =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    com.kwai.video[0]                           =             1;          -1;          -1;           -1;            -1;          1280;             -1;            0    #
    com.zhiliaoapp.musically[0]                 =             1;          -1;          -1;           -1;            -1;          1280;             -1;            0    #
    AllCamApp[0]                                =             0;          -1;           1;           -1;            -1;            -1;             -1;            0    #
    AllCamApp[1]                                =             0;          -1;          -1;          570;            -1;            -1;             -1;            0    #
    AllCamApp[2]                                =             0;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    AllCamApp[3]                                =             1;          -1;          -1;           -1;            -1;          1280;             -1;            0    #
    AllCamApp[4]                                =             1;          -1;          -1;          570;            -1;            -1;             -1;            0    #
    AllCamApp[5]                                =             1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #
    AllCamApp[6]                                =            -1;          -1;          -1;           -1;            -1;            -1;             -1;            0    #

[FeatureEISTypeMap]
    #VideoEisMode    operation_mode    open_id    feature_mask    isMTKEIS    isTPEIS
    Mode[0]  =           0x800B;            0;         0;             1;          0      #normal video rear
    Mode[1]  =           0x800B;            1;         0;             0;          0      #normal video front
    Mode[2]  =           0x800B;            0;         1;             0;          0      #4k video
    Mode[3]  =           0x8021;            0;         0;             0;          0      #60fps video
    Mode[4]  =           0x8028;            0;         0;             1;          0      #super eis
    Mode[5]  =           0x802B;            1;         0;             1;          0      #super eis front
    Mode[6]  =           0x80A4;            0;         0;             1;          0      #film video eis
    Mode[7]  =           0x80A4;            2;         0;             1;          0      #film wide video eis
    Mode[8]  =           0x80A7;            0;         0;             1;          0      #videonight rear
    Mode[9]  =           0x80A7;            1;         2;             1;          0      #videonight front + eis
    Mode[10] =           0x802C;            0;         3;             1;          0      #PIP video rear master

[FeatureEISDebug]
    supportMTKEIS = true
    supportTPEIS = false
    forceEis60FPS = false
    supportEISModeLossless = false
    EISVersion = 6

[FeatureDSDNConfig]
    operationMode = 0x8001;0x800B;0x8026;0x8019;0x8028
    DSDNenable = 1

[FeatureSMVRConfig]
    isNeedDropFrame = 1
    dropNum = 6
    isNeedSetProfile = true

[FeatureFaceBeautyConfig]
    BeautyShotDelay = 0

[FeatureAiShutterConfig]
    AisEnable          =             1
    #[openid][operationmode]    aishutter_enable
    Mode[0][0x8001]    =             1                  #REAR_StreamConfigCapModeCommon
    Mode[0][0x8026]    =             1                  #REAR_StreamConfigCapModeSinglePortrait
    Mode[1][0x8001]    =             1                  #FRONT_StreamConfigCapModeCommon
    Mode[1][0x8026]    =             1                  #FRONT_StreamConfigCapModeSinglePortrait

[FeatureSystemCamRrzoConfig] #need to check
    #[isCalled][openId][operationMode][custom_tag]        width     height
    Mode[0][0][0x8028][2] =                               1920;     1080;
    Mode[0][1][0x800B][1] =                               1280;     720;
    Mode[0][1][0x800B][2] =                               1920;     1080;

[FeatureThirdPartyCamRrzoConfig]
    #key pkgName[openId]                              width     height   base_resolution    comment(1:not_less_than, 2:upscale, 3:not_larger_than)
    com.whatsapp[0]                  =                1920;     1080;        0;                   3;
    com.whatsapp[1]                  =                1920;     1080;        0;                   3;

[capModePIPSceneSpecialSize]
    #key                                width   height
    size[0]                       =     960;    1080;
    size[1]                       =     640;    720;
    size[2]                       =     480;    272;
    size[3]                       =     368;    368;
    size[4]                       =     320;    184;
    size[5]                       =     240;    240;
    size[6]                       =     640;    368;
    size[7]                       =     464;    464;
    size[8]                       =     432;    240;
    size[9]                       =     320;    320;

[oplusCheckStreamFrontCam]
    #key                                openId     width    height
    config[0]                     =     1;         2304;    1728;
    config[1]                     =     9;         2304;    1728;

[camIdxMapType]
    # 0x01,   "AT+CAMERA_OPEN"                    -- rear (main)
    # 0x02,   "AT+CAMERA_FRONT_OPEN"              -- front
    # 0x04,   "AT+CAMERA_F2_OPEN"                 -- front second
    # 0x08,   "AT+CAMERA_BACK_AUX_OPEN"           -- rear second (wide)
    # 0x10,   "AT+CAMERA_BACK_MONO1_OPEN"         -- rear third (mono1)
    # 0x20,   "AT+CAMERA_BACK_MONO2_OPEN"         -- rear fourth (mono2)
    # 0x40,   "AT+CAMERA_BACK_MACRO_OPEN"         -- rear macro
    # 0x80,   "AT+CAMERA_BACK_TELE_OPEN"          -- rear third (tele)

    #[srcIdx]                           camIdx    dstIdx
    index[0]                     =     0x01;     0x01;       #SENSOR_DEV_MAIN-main
    index[1]                     =     0x02;     0x02;       #SENSOR_DEV_SUB-front
    index[2]                     =     0x04;     0x08;       #SENSOR_DEV_SUB_2-BackMacro
    index[3]                     =     0x08;     0x04;       #SENSOR_DEV_MAIN_2-wide
    index[4]                     =     0x10;     0x10;       #SENSOR_DEV_MAIN_3-mono1
    index[5]                     =     0x20;     0x20;       #SENSOR_DEV_SUB_3

[subSensorName]
    #key                               substring
    subSensorList[0]              =    GM1ST;
    subSensorList[1]              =    IMX471;
    subSensorList[2]              =    HI846;
    subSensorList[3]              =    OV02B10;

[sensorDataMap2AConfig]
    #key             sensorId    af-flag  inf    100cm   50cm   mac    skip-4000k  H-U    H-G    M-U    M-G    L-U    L-G     startAddr  dataLength
    index[0]    =    0x38E7;     1;       0x94;  0x94;   0x90;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[1]    =    0x1634;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[2]    =    0x310D;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x0C;  0x14;  0x54;  0x5C;  0x32;  0x3A;   0;         0;
    index[3]    =    0x02f1;     0;       0x94;  0x94;   0x90;  0x92;     1;       0x0E;  0x16;  0x20;  0x28;  0x32;  0x3A;   0x0CA0;    3441;
    index[4]    =    0x02e3;     0;       0x94;  0x94;   0x90;  0x92;     1;       0x0E;  0x16;  0x20;  0x28;  0x32;  0x3A;   0x0CA0;    3441;

[FeatureMsnrConfig]                                  value
    com.whatsapp                                 =     0;
    com.instagram.android                        =     0;
    com.facebook.katana                          =     0;
    com.facebook.orca                            =     0;
    com.facebook.mlite                           =     0;
    com.linecorp.b612.android                    =     0;
    com.commsource.beautyplus                    =     0;
    com.zhiliaoapp.musically                     =     0;
    com.tencent.mobileqq                         =     0;
    com.snapchat.android                         =     0;
    com.intsig.camscanner                        =     0;
    com.tencent.mm                               =     0;
    com.itc.wts88051_autotest                    =     0;
    vStudio.Android.Camera360                    =     0;
    com.gorgeous.lite                            =     0;
    com.cyberlink.youperfect                     =     0;
    com.benqu.wuta                               =     0;
    com.meitu.meiyancamera                       =     0;
    com.mt.mtxx.mtxx                             =     0;
    com.alibaba.android.rimet                    =     0;
    com.tencent.zebra                            =     0;
    com.xhey.xcamera                             =     0;
    com.lemon.faceu                              =     0;
    com.campmobile.snowcamera                    =     0;
    com.kuaiduizuoye.scan                        =     0;
    com.youdao.dict                              =     0;
    com.tencent.wework                           =     0;
    com.tencent.ttpic                            =     0;
    com.kwai.m2u                                 =     0;
    com.dw.btime                                 =     0;
    com.smile.gifmaker                           =     0;
    com.ss.android.ugc.aweme                     =     0;
    com.google.android.apps.tachyon              =     0;

[FeatureMfnrConfig]
    #key                                               value
    com.whatsapp                                 =     1;
    com.instagram.android                        =     1;
    com.facebook.katana                          =     1;
    com.facebook.orca                            =     1;
    com.facebook.mlite                           =     1;
    com.linecorp.b612.android                    =     1;
    com.commsource.beautyplus                    =     1;
    com.zhiliaoapp.musically                     =     1;
    com.tencent.mobileqq                         =     1;
    com.snapchat.android                         =     1;
    com.intsig.camscanner                        =     1;
    com.tencent.mm                               =     1;
    com.itc.wts88051_autotest                    =     1;
    vStudio.Android.Camera360                    =     1;
    com.gorgeous.lite                            =     1;
    com.cyberlink.youperfect                     =     1;
    com.benqu.wuta                               =     1;
    com.meitu.meiyancamera                       =     1;
    com.mt.mtxx.mtxx                             =     1;
    com.alibaba.android.rimet                    =     1;
    com.tencent.zebra                            =     1;
    com.xhey.xcamera                             =     1;
    com.lemon.faceu                              =     1;
    com.campmobile.snowcamera                    =     1;
    com.kuaiduizuoye.scan                        =     1;
    com.youdao.dict                              =     1;
    com.tencent.wework                           =     1;
    com.tencent.ttpic                            =     1;
    com.kwai.m2u                                 =     1;
    com.dw.btime                                 =     1;
    com.smile.gifmaker                           =     1;
    com.ss.android.ugc.aweme                     =     1;
    com.google.android.apps.tachyon              =     1;

[CustomCfgSetting]
    #              CAM_INDX   CLK      PROT     DIR     BITORDER    ORIENTION  H_FOV  V_FOV  SECURE
    #index[0]        MAIN    MCLK2     PROT0    REAR     9_2          90        65     51       0
    #index[1]        SUB     MCLK1     PROT3    FORNT    9_2          270       68     54       1
    #index[2]        MAIN2   MCLK3     PROT1A   REAR     9_2          90        76     60       0
    #index[3]        SUB2    MCLK5     PROT1B   REAR     9_2          90        89     60       0
    #index[4]        MAIN3   MCLK4     PROT1A   REAR     9_2          90        76     60       0
    #
    index[0]    =       0;      1;       0;      0;       0;          90;       65;     51;     0;
    index[1]    =       1;      0;       3;      1;       0;          270;      68;     54;     1;
    index[2]    =       2;      2;       6;      0;       0;          90;       76;     60;     0;
    index[3]    =       3;      4;       7;      0;       0;          90;       89;     60;     0;
    index[4]    =       4;      3;       6;      0;       0;          90;       76;     60;     0;

[FeatureDepthMode]
    #key                             sensorId[0]    forcemode
    Mode[0]                    =     0;             1          #rear 3rd depth + 3rd bokeh
    Mode[1]                    =     1;             2          #front tk depth + 3rd bokeh

[Feature3rdBokehPreview]
    Switch                                       =    true

[FeatureMsnrByMode]
    #operation mode     operation_mode     value
     Mode[0]         =     0x8011;           1
     Mode[1]         =     0x8019;           1

[FeatureAssistMotionDet]
    AssistMotionDetFlag = true

[OplusMFNRImpl]
    #sensorid         minL1ShutterTimeThres   maxL1ShutterTimeThres   minL1RealIsoThres   minL2ShutterTimeThres  maxL2RealIsoThres
    SENSOR_DRVNAME_S5KJN1_MIPI_RAW_21690        =       8000;                 22000;                 4800;                 26000;                 19000

[FeatureAISLLSCaptureSetting]
    SwitchAISLLSCaptureSetting = true
    AisllsCaptureSettingCustomThdFlag = true

[FeatureBayerOrder]
    #       [Id]            =  remosaic_param[1]: bayer_order;
    RemosaicParam[0x310d]   =                          1;      # S5K3P9SP 21690    BAYER_GBRG

[RemosaicSensorOrder]
     customRemosaicSensorOrder  = 2;                           # S5KJN1 21690    BAYER_GRBG

[AfterSaleCalibration]
    SaleCalSensorID = 0x38E7
    CustomPath = false

[FeatureNeedP1ProcessRaw]
    Switch = true

[CustomBokehMSGParam]
    bkMsgSwitch = true;
    #key               FaceWidthMax    FaceWidthMin    FocusDistanceMax    FocusDistanceMin    lvMaxThres    lvMinThres    lvSumThres    ISOThres
    CustomBkMsgValue = 2400;           250;            2000.0;             350.0;              40;           -40;          20;           4000;

[FrontAisSupported]
    enableFrontAis = false